.shop-cart {

    display: grid;
    grid-template-rows: 1px [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    row-gap: 15px;

    &-toggle {
        grid-column: s/e;
        grid-row: tog-s/tog-e;
        justify-self: end;

        background-color: #333;
        color: white;
        font-size: 28px;
        border-radius: 25px 0 0 25px;
        height: 40px;
        width: 76px;

        display: grid;
        justify-items: center;
        align-items: center;
    }
    &-content {

        grid-column: s/e;
        grid-row: con-s/con-e;

        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);

    }
}

.cart-content {

    display: grid;
    grid-template-rows: [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];

    &-title {
        grid-row: title-s/title-e;
        grid-column: s/e;

        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;

        //margin-bottom: 50px;
    }

    &-products {
        grid-row: products-s/products-e;
        grid-column: s/e;
        display: grid;

        padding-top: 50px;
        overflow-y: scroll;

        row-gap: 45px;
    }

    &-footer {
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
        display: grid;
    }
}

.cart-footer {

    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [check-s] 1fr [check-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;

    height: 113px;
    background-color: #1A1A1A;

    & > * {
        grid-row: s/e;
    }
    &-checkout{

        grid-column: check-s/check-e;

        display: grid;
        align-items: center;
        justify-items: center;

        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 600;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79;

        transition: all .5s ease;


        &:focus {
            outline: none;
        }

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &-subtotal {

        grid-column: sub-s/sub-e;
        justify-self: end;

        font-size: 18px;
    }

    &-price {

        grid-column: price-s/price-e;
        justify-self: start;

        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
    }
}