.account-information {
    grid-row: content-s/content-e;
    grid-column: s/e;
}

.account-information-form {
    display: grid;
    grid-template-rows: [name-s street-address-s] 64px [name-e street-address-e email-s city-s] 64px [email-e city-e state-s zipcode-s] 64px [state-e zipcode-e] minmax(20px, 255px) [line-s] 2px [line-e];
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-row-gap: 15px;


    &-name {
        grid-row: name-s/name-e;
        grid-column: s/m;
    }
    &-email {
        grid-row: email-s/email-e;
        grid-column: s/m;

    }
    &-street-address{
        grid-row: street-address-s/street-address-e;
        grid-column: m/e;


    }
    &-city{
        grid-row: city-s/city-e;
        grid-column: m/e;

    }
    &-state{
        grid-row: state-s/state-e;

    }
    &-zipcode{
        grid-row: zipcode-s/zipcode-e;
        transform: translateX(226px);

    }

    &-zipcode,
    &-state{
        grid-column: m/e;
        .input{
            width: 200px;
        }
        
    }
    
}