.review-form {
    &-line {
        grid-column: 1/-1;
        grid-row: line-s/line-e;
        border-top: 1px solid #ccc;
        margin-bottom: 24px;
    }
    &-products {
        grid-column: 1/-1;
        grid-row: products-s/products-e;
        overflow-y: scroll;
    }

    &-proceed {
        grid-row: buttons-s/buttons-e;
        grid-column: proceed-s/proceed-e;

    }

    &-back {
        grid-row: buttons-s/buttons-e;
        grid-column: back-s/back-e;
    }
}