.review-product {
    display: grid;
    grid-template-columns: [img-s] 80px [img-e title-s] 1fr [title-e quantity-s] 1fr [quantity-e price-s] .5fr [price-e] 40px;
    grid-template-rows: [s] 1fr [e];
    column-gap: 30px;

    & > * {
        grid-row: s/e;
        align-self: center;
    }

    &-img {
        grid-column: img-s/img-e;

    }

    &-title {
        grid-column: title-s/title-e;
        font-size: 18px;
        font-family: 'Titillium Web';
        color: #333;
    }

    &-quantity {
        grid-column: quantity-s/quantity-e;
        font-size: 18px;
        font-weight: 600;
        color: #666666;


    }

    &-price {
        grid-column: price-s/price-e;
        justify-self: end;


    }
}

.review-form-legend {

    display: grid;
    grid-template-columns: 80px [name-s] 1fr [name-e quantity-s] 1fr [quantity-e price-s] .5fr [price-e] 40px;
    grid-template-rows: [s] 1fr [e];
    column-gap: 30px;

    & > * {
        grid-row: s/e;
        align-self: center;
    }

    &-name {
        grid-column: name-s/name-e;
    }

    &-quantity {
        grid-column: quantity-s/quantity-e;
    }

    &-price {
        grid-column: price-s/price-e;
        justify-self: end;
    }

}